.form {
    display: flex;
    flex-direction: row;

    &__container {
        max-width: 420px;
        width: 100%;
        margin: auto;
    }

    &__col {
        width: calc(50% - 30px);
        padding: 0px 17px;

        &--center {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    &__field {
        margin: 10px 0px 12px;

        input {
            width: 100%;
            height: 26px;
            border: 2px solid cadetblue;
            border-radius: 6px; 
        }
    }

    &__submit {
        margin: 10px 0px 12px;
        display: flex;
        justify-content: center;

        input {
            text-decoration: none;
            text-transform: uppercase;
            padding: 8px 12px 10px;
            background: #3c40c6;
            border-radius: 20px;
            color: #fff;
            font-size: 12px;
            transition: ease-in-out .2s;
            cursor: pointer;
            outline: 0;
            box-shadow: none;
            border: 0;

            &:hover {
                background: darken(#3c40c6, 10%)
            }
        }
    }

    &__dropdown {
        position: relative;
        width: 350px;
        height: 450px;
        outline: 2px dashed cadetblue;
        background-color: transparentize(#eee, 0.7);
        transition: ease-in-out 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &--active {
          transition: ease-in-out 0.3s;
          outline-offset: -10px;
          border: 1px solid #efefef;
        }
    
        label {
          color: cadetblue;
          font-size: 24px;
        }
    
        span {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          background: #000;
          color: #fff;
          cursor: pointer;
        }
    
        input {display: none;}
    
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
}
